@import "bourbon/bourbon";
@import "neat/neat";

$gtMobile: min-width 40em 12 !default;

#app {
@include outer-container;
}

body {
  font-family:sans-serif;
}

.yelp-credit {
  img {
    height:2em;
    vertical-align:middle;
  }
  display:inline-block;
}

.search-module {
  @include span-columns(12);
  border: 2px solid firebrick;

  @include media($gtMobile){
    @include span-columns(6);
  }
}

.trip-module {
  @include span-columns(12)
  border:2px solid steelblue;

  @include media($gtMobile){
    @include span-columns(6);}
}

.search-poi, .trip-poi, .saved-trips {
  border:1px solid gray;
}

.poi-img {
	display:inline-block;
	vertical-align:top;
  float:left;
  margin-right:0.5em;
  width:75px;
  height: 75px;
  background-color:lightgray;
  border-radius:0.75em;
  img {
  	width:75px;
    border-radius:0.75em;
  }
}

.poi-entry {
  @include clearfix;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom:0em;
  }
}

.poi-name {
	font-size:1.25em;
	font-weight:bold;
  vertical-align:middle;
  display:inline-block;
  img {
    vertical-align:middle;
  }
}

.poi-name a {
	color:#463d66;
}

.poi-rating {
	font-size:1em;
  background-color:slateblue;
	color:white;
	padding:0.25em;
	border-radius:0.25em;
	margin-left:0.25em;
	text-shadow: 1px 1px 1px slategray;
}

.poi-reorder {
  float:right;
  font-size:1.5em;
}

h1 {
  display:block;
  margin:0px;
}
